/** @format */

.currentWeather {
  font-family: arial, sans-serif;
  border: 2px outset #fcbbc7;
  border-radius: 20px;
  padding: 16px;
  color: #53a8b6;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(-225deg, #2cd8d5 0%, #c5c1ff 56%, #ffbac3 100%);
  font-weight: 600;
}

.currentWeather .btn-color {
  border: 2px outset #fcbbc7;
  border-radius: 10px;
  background-color: #bbe4e9;
  color: #5585b5;
}

.currentWeather .btn-color:hover {
  border: 2px outset #fcbbc7;
  border-radius: 10px;
  background-color: #bbe4e9;
}

.currentWeather h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0 0 0;
  line-height: 29px;
  color: #006699;
}

.currentWeather ul {
  margin: 0;
  padding: 0;
}

.currentWeather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.currentWeather img {
  height: 64px;
  margin-right: 10px;
  display: inline-block;
}

.currentWeather .temperature {
  font-weight: bold;
  color: #5585b5;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 600;
  margin-left: 10px;
}

.currentWeather .unit {
  color: #5585b5;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  line-height: 1;
  top: -34px;
}

.currentWeather .unit a {
  text-decoration: none;
  color: #5585b5;
}

.currentWeather .unit a:hover {
  text-decoration: none;
  color: #006699;
}

.WeatherInfo .Description {
  color: #5585b5;
}
